.idea*
*.o
*~
*CMakeFiles
*CMakeCache.txt
Makefile
cmake_install.cmake
.project
.cproject
cmake-build-debug/
cmake-build-debug
*cmake-build-debug
Project/doc/*
*doc
*doc*
doc
doc/
Project/doc/*
.ipynb_checkpoints/
*.ipynb_checkpoints
.ipynb_checkpoints*
*.ipynb_checkpoints
